<div class="text-info">
    <button class="btn col-md-2" style="background: green" [routerLink]="'/create-book'" >Them bai doc</button>
     <table border="1" style="width: 70%">
       <tr>
         <td><h3>Danh sach doc</h3></td>
         <td></td>
       </tr>
       <tr *ngFor="let book of bookList,index as i">
         <td [ngClass]="book.read === true ? 'done' : '' ">{{book.name}}</td>
         <td><button (click)="seen(i)" class="btn border-primary" style="background: blue" >Da doc</button></td>
       </tr>
     </table>
   </div>